$gap: 10px;

.component {
  box-sizing: border-box;
  padding: 20px;
}

.container {
  min-height: 80vh;
  padding-top: 20px;

  & .icon {
    position: relative;
    margin-right: 10px;
  }

  & > * {
    margin-bottom: 20px;
  }

  & h2 > div {
    margin-right: 10px;
  }
}
